<aside id="sideBar">
            <ul class="main-nav">
                <!-- Your Logo Or Site Name -->
                <li class="nav-brand">
                    <a href="#">Steven Jackson</a>
                </li>
                <!-- Search -->
               
                <li>
                    <a href="#/home">Home</a>
                </li>
                <li>
                    <a href="#/overview">Overview</a>
                </li>
                <li>
                    <a href="#/recent">Recent Entries</a>
                </li>
                <li>
                    <a href="#/latest">Most Recent Websites</a>
                </li>
                <li>
                    <a href="#/previous">Previous Websites</a>
                </li>
               
                <li>
                    <a href="#/contact">Contact Details</a>
                </li>
               
            </ul>
        </aside>