<h1>Overview</h1>
<hr>
  <p>This is a Angular single page app that works with my node server for serving out my Portfolio entries</p><br>
 <blockquote> <p><strong>Purpose:</strong> <br>Easily add portfolio entries that I have done</p></blockquote>
  <blockquote><p><strong>Reason:</strong> <br>Doing it as my fourth Angular side project to get a better understanding of the MEAN stack</p></blockquote>
 <blockquote> <p><strong>Text Editor:</strong><br> Sublime Text 3</p>
    <p><strong>Frameworks:</strong><br>Bootstrap<br>AngularJS</p>
    <p><strong>Browser:</strong><br>Chrome</p>
    <p><strong>Operating System:</strong><br>Windows 10</p>
  </div></blockquote>